.gradient-background {
  background: linear-gradient(300deg, #09617e, #e0c467d3);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}
.cute-dog {
  height: 100px;
  width: 100px;

  border-radius: 50%;
}
.btn-dark {
  background-color: rgb(3, 75, 19);
}
#promax {
  background-color: #26832e;
}
